.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.elements {
  
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 0px;
  background-color: rgb(251, 255, 255);
  text-align: center;
  box-shadow: 0 0 10px black;
  min-height: 500px;
  border-style: dashed;
  border-width: 2px;
  border-color: rgb(101, 98, 98);
  
}

.elements_fixed {

  border-radius: 5px;
  display:flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  background-color: rgb(251, 255, 255);
  text-align: center;
  box-shadow: 0 0 10px black;
  min-height: 480px;
  
}

.dragactive {
  background-color: rgb(255, 255, 255);
}

.dragcomplete {
  background-color: rgb(255, 255, 255);
}

.remove {
  background-color: rgb(255, 255, 255);
}

.elements__heading {
  font-size: 25px;
  /* text-align: center; */
  color: rgb(58, 212, 230);
}



.elements__single {
  display: flex;
  border-radius: 5px;
  background-color: rgb(58, 212, 230);;
  transition: 0.2s;
  margin: 5px;
  padding: 0px;
  
}
.aa {
  display: block;

}
.hide {
  display:none

}

.elements__single:hover + .hide{
  opacity: 0.3;
  display: flex;
  color: red;
  
}

.elements__single_fixed {
  display: flex;
  border-radius: 4px;
  padding: 0px;
  margin-top: 5px;
  background-color: rgb(58, 212, 230);;
  transition: 0.2s;
}

.drag {
  box-shadow: 0 0 20px black;
}

/* .elements__single:hover{
  box-shadow: 0 0 5px black;
  transform: scale(1.03); 

} */

.elements__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.elements__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  color: rgb(99, 201, 210);
  text-align: center;
}

.upperButton{
  float: right;
  padding: 5px;
}

@media (max-width: 1100px) {
  .elements {
    width: 85%;
  }
  .elements__heading{
    font-size: 25px
  }
  .elements__single--text{
    font-size: 19px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 95%;
    flex-direction: column;
  }
  .elements {
    width: 95%;
    margin-bottom: 10px;
  }
  .elements__heading{
    font-size: 13px
  }
  .elements__single--text{
    font-size: 10px;
  }
}